@model Phonebook.UI.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Phonebook App";
}

<h2>Login</h2>

<div class="row-fluid">
    <div class="span6 login-form-content">
    @using (Html.BeginForm("Index", "Login"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="control-group">
            @Html.LabelFor(m => m.Username, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control span7" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.Password, new {@class = "control-label"})
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control span7"})
            </div>
        </div>
    
        <div class="control-group">
            <div class="row-fluid">
                <div class="span3 login-button-container">
                    <div class="controls">
                        <input type="submit" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>