@model IEnumerable<Phonebook.Domain.Model.Contact>

@{
    ViewBag.Title = "My Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>&nbsp;</p>
<div class="page-header"><h2>My Contacts</h2></div>

<p>Use the form below to search your contacts.</p>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
    @using (Html.BeginForm("Search", "Contact", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId" />
            
            <div class="form-group">
                <label for="Name" class="col-md-2 control-label">Name</label>
                <div class="col-md-8">
                    <input type="text" placeholder="Name" id="Name" name="Name" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="Email" class="col-md-2 control-label">Email</label>
                <div class="col-md-8">
                    <input type="text" placeholder="Email" id="Email" name="Email" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button type="submit" class="btn btn-primary">Search</button> 
                    @Html.ActionLink("Clear", "Index", new { UserId = ViewBag.UserId }, new { @class = "btn btn btn-default" })
                </div>
            </div>
        </div>
    }
    </div>
</div>

<div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Forename)</th>
                <th>@Html.DisplayNameFor(model => model.Surname)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Forename)</td>
                    <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        @Html.ActionLink("View Contact Numbers", "Index", "ContactNumber", new { ContactId = item.Id, UserId = ViewBag.UserId }, new { @class = "btn btn-xs btn-default" }) 
                        @Html.ActionLink("Edit", "ManageContact", new { ContactId = item.Id, UserId = ViewBag.UserId }, new { @class = "btn btn-xs btn-default" }) 
                        @Html.ActionLink("Delete", "DeleteContact", new { ContactId = item.Id, UserId = ViewBag.UserId}, new { @class = "btn btn-xs btn-danger", onclick = "return confirm('Are you sure you want to delete this contact?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>@Html.ActionLink("Add New Contact", "ManageContact", new { ContactId = Guid.Empty, UserId = ViewBag.UserId }, new { @class = "btn btn-xs btn-primary" })</p>

</div>