@model Phonebook.Domain.Model.Contact

@{
    ViewBag.Title = "Manage Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>&nbsp;</p>
<div class="page-header"><h2>@(Model.Id == Guid.Empty ? "Add New Contact" : "Edit Contact")</h2></div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @using (Html.BeginForm("ManageContact", "Contact", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Forename, new { @class = "col-md-2 control-label" })
                   <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Forename, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.ValidationMessageFor(model => model.Forename)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.ValidationMessageFor(model => model.Surname)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="submit" class="btn btn-primary">Save</button> 
                        @Html.ActionLink("Cancel", "Index", "Contact", new { UserId = Model.UserId }, new { @class = "btn btn btn-default" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
